deploy/nodered/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "SmartHome IoT",
        "disabled": false,
        "info": "Flujo de control y monitoreo para SmartHome IoT"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "8883",
        "tls": "c809d6b452b1734e",
        "clientid": "nodered-smarthome",
        "autoConnect": true,
        "usetls": true,
        "verifyservercert": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "smarthome/nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "closeTopic": "smarthome/nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "willTopic": "smarthome/nodered/status",
        "willQos": "0",
        "willPayload": "offline"
    },
    {
        "id": "telegram_bot_config",
        "type": "telegram bot",
        "botname": "SmartHomeBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "1",
        "usesocks": false,
        "sockshost": "",
        "socksport": "",
        "socksusername": "",
        "sockspassword": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "SmartHome Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "Sensores en Tiempo Real",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Control Manual y Actuadores",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_security",
        "type": "ui_group",
        "name": "Seguridad y Cámara (ESP32-CAM)",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_charts",
        "type": "ui_group",
        "name": "Historial de Temperatura",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c89b163a79a39f5c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c809d6b452b1734e",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_in_datos",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Suscribir a Datos JSON",
        "topic": "smarthome/+/datos",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "parse_sensor_data",
                "csv_logging_trigger",
                "rules_evaluator"
            ]
        ]
    },
    {
        "id": "parse_sensor_data",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Extraer Variables",
        "func": "var temp = msg.payload.temperatura;\nvar hum = msg.payload.humedad;\nvar gas = msg.payload.gas;\nvar sound = msg.payload.sensor_extra;\n\nglobal.set(\"last_temp\", temp);\nglobal.set(\"last_hum\", hum);\nglobal.set(\"last_gas\", gas);\nglobal.set(\"last_sound\", sound);\n\nreturn [\n    { payload: temp, topic: \"temp\" },\n    { payload: hum, topic: \"hum\" },\n    { payload: gas, topic: \"gas\" },\n    { payload: sound, topic: \"sound\" }\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ui_gauge_temp",
                "ui_chart_temp"
            ],
            [
                "ui_gauge_hum"
            ],
            [
                "ui_gauge_gas"
            ],
            [
                "ui_text_sound",
                "sound_trigger"
            ]
        ]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Temperatura",
        "group": "ui_group_sensors",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_gauge_hum",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Humedad",
        "group": "ui_group_sensors",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#3399ff",
            "#00b500",
            "#e6e600"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_gauge_gas",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Nivel de Gas",
        "group": "ui_group_sensors",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "compass",
        "title": "Gas (MQ-2)",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "600",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui_text_sound",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_sensors",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Sonido",
        "label": "Sonido (MAX4466):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_chart_temp",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Gráfico de Temp",
        "group": "ui_group_charts",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperatura Reciente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando lecturas...",
        "dot": false,
        "ymin": "15",
        "ymax": "40",
        "removeOlder": 5,
        "removeOlderPoints": "",
        "removeOlderUnit": "m",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_switch_led",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "Control LED",
        "label": "LED de Alerta",
        "tooltip": "Activar LED manual",
        "group": "ui_group_control",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "control/led",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "mqtt_out_led"
            ]
        ]
    },
    {
        "id": "ui_switch_buzzer",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "Control Buzzer",
        "label": "Zumbador (Buzzer)",
        "tooltip": "Activar Buzzer manual",
        "group": "ui_group_control",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "control/buzzer",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "mqtt_out_buzzer"
            ]
        ]
    },
    {
        "id": "ui_button_capture",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Capturar Imagen",
        "group": "ui_group_control",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Capturar Foto manual",
        "tooltip": "Mandar comando de captura a la cámara",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "camera_alt",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "mqtt_out_camara_control"
            ]
        ]
    },
    {
        "id": "mqtt_out_led",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publicar control LED",
        "topic": "smarthome/equipo69/control/led",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqtt_out_buzzer",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publicar control Buzzer",
        "topic": "smarthome/equipo69/control/buzzer",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 430,
        "y": 440,
        "wires": []
    },
    {
        "id": "mqtt_out_camara_control",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publicar control Cámara",
        "topic": "smarthome/equipo69/camara/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "mqtt_in_camara_evento",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Presencia y Rostros",
        "topic": "smarthome/equipo69/camara/evento",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "process_vision_data"
            ]
        ]
    },
    {
        "id": "process_vision_data",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Procesar Visión",
        "func": "var human = msg.payload.human; // true / false\nvar faces = msg.payload.faces; // Array de nombres\n\nvar presenceText = human ? \"DETECTADO\" : \"Nadie en cámara\";\nvar facesText = (faces && faces.length > 0) ? faces.join(\", \") : \"Ninguno\";\n\nreturn [\n    { payload: presenceText },\n    { payload: facesText },\n    { payload: human ? \"#ff3333\" : \"#33cc33\" }\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "ui_text_presence"
            ],
            [
                "ui_text_faces"
            ],
            [
                "ui_status_indicator"
            ]
        ]
    },
    {
        "id": "ui_text_presence",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_security",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Presencia Humana",
        "label": "Humano:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "ui_status_indicator",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_security",
        "name": "Indicador Visual",
        "order": 2,
        "width": 3,
        "height": 1,
        "format": "<div style=\"display: flex; align-items: center; justify-content: flex-end; height: 100%; padding-right: 10px;\">\n    <div style=\"width: 15px; height: 15px; border-radius: 50%; background-color: {{msg.payload || '#33cc33'}}; box-shadow: 0 0 8px {{msg.payload || '#33cc33'}};\"></div>\n    <span style=\"margin-left: 8px; font-weight: bold; font-size: 13px;\">Estado</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "className": "",
        "x": 640,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_text_faces",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_security",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Rostros",
        "label": "Rostros:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "ui_camera_feed",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_security",
        "name": "Stream ESP32-CAM",
        "order": 4,
        "width": 6,
        "height": 4,
        "format": "<div style=\"text-align: center; overflow: hidden; height: 100%; display: flex; flex-direction: column; justify-content: center;\">\n    <img src=\"http://192.168.1.100/\" style=\"width: 100%; height: auto; border: 2px solid #ccc; border-radius: 6px; object-fit: contain;\" onerror=\"this.src='https://placehold.co/320x240?text=Camara+Sin+Conexion'\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "className": "",
        "x": 660,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "csv_logging_trigger",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Formato CSV",
        "func": "var temp = msg.payload.temperatura || \"\";\nvar hum = msg.payload.humedad || \"\";\nvar gas = msg.payload.gas || \"\";\nvar sound = msg.payload.sensor_extra || \"\";\nvar alert = msg.payload.alerta || \"NORMAL\";\nvar timestamp = new Date().toISOString();\n\nmsg.payload = timestamp + \",\" + temp + \",\" + hum + \",\" + gas + \",\" + sound + \",\" + alert;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "write_csv_file"
            ]
        ]
    },
    {
        "id": "write_csv_file",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "Guardar en CSV",
        "filename": "/data/historial.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "rules_evaluator",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Reglas de Control Automático",
        "func": "var temp = msg.payload.temperatura;\nvar gas = msg.payload.gas;\nvar alertTriggered = false;\nvar alertMsg = \"\";\n\nif (temp && temp > 30) {\n    alertTriggered = true;\n    alertMsg += \"⚠️ ¡Temperatura crítica: \" + temp + \"°C!\\n\";\n}\n\nif (gas && gas > 1020) {\n    alertTriggered = true;\n    alertMsg += \"🔥 ¡Alerta de Gas detectada: \" + gas + \" ppm!\\n\";\n}\n\nif (alertTriggered) {\n    context.set(\"normal_count\", 0);\n    var telegramMsg = {\n        payload: {\n            chatId: -1003906928304,\n            type: \"message\",\n            content: \"🚨 *[SmartHome ALERTA]*\\n\\n\" + alertMsg + \"\\n*Timestamp:* \" + new Date().toLocaleString()\n        }\n    };\n    return [\n        { payload: \"ON\" },\n        telegramMsg\n    ];\n} else {\n    var count = (context.get(\"normal_count\") || 0) + 1;\n    context.set(\"normal_count\", count);\n    if (count >= 3) {\n        context.set(\"normal_count\", 0);\n        return [\n            { payload: \"OFF\" },\n            null\n        ];\n    }\n    return [null, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "context.set('normal_count', 0);",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 80,
        "wires": [
            [
                "mqtt_out_led"
            ],
            [
                "telegram_out"
            ]
        ]
    },
    {
        "id": "telegram_in",
        "type": "telegram receiver",
        "z": "f6f2187d.f17ca8",
        "name": "Comandos Telegram",
        "bot": "telegram_bot_config",
        "saveDataDir": "",
        "filterCommands": false,
        "inputs": 0,
        "x": 140,
        "y": 740,
        "wires": [
            [
                "telegram_router"
            ],
            []
        ]
    },
    {
        "id": "telegram_router",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Router de Comandos",
        "func": "var command = msg.payload.content || msg.payload.text;\nvar chatId = msg.payload.chatId || (msg.payload.chat && msg.payload.chat.id) || msg.chatId;\n\n// Debug de entrada en consola de Node-RED\nnode.log(\"Recibido comando: \" + command + \" de chatId: \" + chatId);\n\nif (command === \"/status\") {\n    var temp = global.get(\"last_temp\") || \"No disponible\";\n    var hum = global.get(\"last_hum\") || \"No disponible\";\n    var gas = global.get(\"last_gas\") || \"No disponible\";\n    var sound = global.get(\"last_sound\") || \"No disponible\";\n    \n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: \"📊 *SmartHome Status*\\n\\n\" +\n                 \"🌡️ *Temp:* \" + temp + \" °C\\n\" +\n                 \"💧 *Humedad:* \" + hum + \" %\\n\" +\n                 \"🔥 *Gas (MQ-2):* \" + gas + \" ppm\\n\" +\n                 \"🔊 *Sonido:* \" + sound + \"\\n\\n\" +\n                 \"*Timestamp:* \" + new Date().toLocaleString()\n    };\n    node.log(\"Respondiendo con status a: \" + chatId);\n    return [msg, null];\n} else if (command === \"/ayuda\" || command === \"/start\") {\n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: \"🤖 *SmartHome Bot*\\n\\n\" +\n                 \"Comandos disponibles:\\n\" +\n                 \"🔹 `/status` - Muestra lecturas en tiempo real\\n\" +\n                 \"🔹 `/ayuda` - Lista los comandos\\n\" +\n                 \"🔹 `/entendido` o `/noted` - Apaga el LED y Zumbador de alerta\"\n    };\n    node.log(\"Respondiendo con ayuda a: \" + chatId);\n    return [msg, null];\n} else if (command === \"/entendido\" || command === \"/noted\") {\n    // Responder en Telegram confirmando el comando\n    msg.payload = {\n        chatId: chatId,\n        type: \"message\",\n        content: \"✅ *Alerta confirmada.* Se ha enviado la orden para apagar el LED y el Zumbador de alerta.\"\n    };\n    \n    // Payload para apagar los actuadores vía MQTT\n    var actuatorMsg = {\n        payload: \"OFF\"\n    };\n    \n    node.log(\"Silenciando alertas desde Telegram a peticion de: \" + chatId);\n    return [msg, actuatorMsg];\n}\nnode.log(\"Comando desconocido ignorado.\");\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "telegram_out",
                "debug_router_out"
            ],
            [
                "mqtt_out_led"
            ]
        ]
    },
    {
        "id": "telegram_out",
        "type": "telegram sender",
        "z": "f6f2187d.f17ca8",
        "name": "Enviar a Telegram",
        "bot": "telegram_bot_config",
        "haserroroutput": false,
        "outputs": 1,
        "x": 660,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_router_out",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Router Salida",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "inject_telegram_test",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Inyectar Alerta de Prueba",
        "props": [
            {
                "p": "payload",
                "v": "{\"chatId\":1511171371,\"type\":\"message\",\"content\":\"🔔 Prueba de inyección manual desde Node-RED\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 860,
        "wires": [
            [
                "telegram_out"
            ]
        ]
    },
    {
        "id": "sound_trigger",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Trigger Sonido → Cámara",
        "func": "var sound = msg.payload;\nvar threshold = 120;\n\nif (sound !== undefined && sound > threshold) {\n    node.warn(\"Sonido \" + sound + \" > \" + threshold + \" — disparando captura\");\n    return {\n        payload: {\"accion\": \"iniciar_burst\", \"duracion\": 5}\n    };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('sound_threshold', 120);",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "mqtt_out_camara_captura"
            ]
        ]
    },
    {
        "id": "mqtt_out_camara_captura",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publicar camara/captura",
        "topic": "smarthome/equipo69/camara/captura",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "http_in_sensors",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET /api/sensors",
        "url": "/api/sensors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "func_sensors_reader"
            ]
        ]
    },
    {
        "id": "http_in_status",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET /api/status",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "func_status_reader"
            ]
        ]
    },
    {
        "id": "http_in_history",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET /api/history",
        "url": "/api/history",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "func_history_parser"
            ]
        ]
    },
    {
        "id": "http_in_led_alerta",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /api/actuators/led-alerta",
        "url": "/api/actuators/led-alerta",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "func_input_validator"
            ]
        ]
    },
    {
        "id": "http_in_led_puerta",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /api/actuators/led-puerta",
        "url": "/api/actuators/led-puerta",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "func_input_validator"
            ]
        ]
    },
    {
        "id": "http_in_notifications",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /api/notifications",
        "url": "/api/notifications",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "func_input_validator"
            ]
        ]
    },
    {
        "id": "http_in_silence",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /api/alerts/silence",
        "url": "/api/alerts/silence",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "func_silence_alerts"
            ]
        ]
    },
    {
        "id": "http_in_camera_trigger",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "POST /api/camera/trigger",
        "url": "/api/camera/trigger",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "func_input_validator"
            ]
        ]
    },
    {
        "id": "http_res_sensors",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/sensors",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 920,
        "wires": []
    },
    {
        "id": "http_res_status",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/status",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 960,
        "wires": []
    },
    {
        "id": "http_res_history",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/history",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1000,
        "wires": []
    },
    {
        "id": "http_res_led_alerta",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/actuators/led-alerta",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "http_res_led_puerta",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/actuators/led-puerta",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "http_res_notifications",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/notifications",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "http_res_silence",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/alerts/silence",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "http_res_camera_trigger",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/camera/trigger",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "func_sensors_reader",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Sensors Reader",
        "func": "var temp = global.get(\"last_temp\");\nvar hum = global.get(\"last_hum\");\nvar gas = global.get(\"last_gas\");\nvar sound = global.get(\"last_sound\");\n\nif (temp === undefined || hum === undefined || gas === undefined || sound === undefined) {\n    msg.statusCode = 503;\n    msg.payload = {error: \"sensor_data_unavailable\"};\n} else {\n    msg.statusCode = 200;\n    msg.payload = {\n        temperatura: temp,\n        humedad: hum,\n        gas: gas,\n        sonido: sound\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 920,
        "wires": [
            [
                "http_res_sensors"
            ]
        ]
    },
    {
        "id": "func_status_reader",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "System Status Reader",
        "func": "var led = flow.get(\"led_state\") || \"OFF\";\nvar alert = flow.get(\"alert_state\") || \"OFF\";\n\nmsg.statusCode = 200;\nmsg.payload = {\n    led_state: led,\n    alert_state: alert,\n    caveat: \"logical state only\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 960,
        "wires": [
            [
                "http_res_status"
            ]
        ]
    },
    {
        "id": "func_history_parser",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "CSV History Parser",
        "func": "var fs = global.get(\"fs\");\nvar path = \"/data/historial.csv\";\n\nvar fromParam = (msg.payload && msg.payload.from) || (msg.req.query && msg.req.query.from);\nvar toParam = (msg.payload && msg.payload.to) || (msg.req.query && msg.req.query.to);\nvar limitParam = (msg.payload && msg.payload.limit) || (msg.req.query && msg.req.query.limit);\n\ntry {\n    if (!fs.existsSync(path)) {\n        msg.statusCode = 503;\n        msg.payload = {error: \"historial_no_disponible\"};\n        return msg;\n    }\n    \n    var data = fs.readFileSync(path, \"utf8\");\n    var lines = data.trim().split(\"\\n\");\n    \n    if (lines.length < 2) {\n        msg.statusCode = 200;\n        msg.payload = [];\n        return msg;\n    }\n    \n    var fromTime = fromParam ? new Date(fromParam) : null;\n    var toTime = toParam ? new Date(toParam) : null;\n    var limit = parseInt(limitParam) || 100;\n    \n    var rows = [];\n    for (var i = 1; i < lines.length && rows.length < limit; i++) {\n        var cols = lines[i].split(\",\");\n        if (cols.length < 5) continue;\n        \n        var ts = new Date(cols[0]);\n        if (isNaN(ts.getTime())) continue;\n        \n        if (fromTime && ts < fromTime) continue;\n        if (toTime && ts > toTime) continue;\n        \n        rows.push({\n            timestamp: cols[0],\n            temperatura: parseFloat(cols[1]) || null,\n            humedad: parseFloat(cols[2]) || null,\n            gas: parseFloat(cols[3]) || null,\n            sensor_extra: cols[4] || null,\n            alerta: cols[5] || \"NORMAL\"\n        });\n    }\n    \n    msg.statusCode = 200;\n    msg.payload = rows;\n} catch (e) {\n    msg.statusCode = 500;\n    msg.payload = {error: \"parse_error\", details: e.message};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1000,
        "wires": [
            [
                "http_res_history"
            ]
        ]
    },
    {
        "id": "func_input_validator",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Input Validator",
        "func": "function cloneMsg(p) {\n    return {\n        payload: p,\n        req: msg.req,\n        res: msg.res,\n        _msgid: msg._msgid\n    };\n}\n\nvar url = msg.req.url || msg.req.originalUrl || \"\";\nvar payload = msg.payload || {};\nvar out = [null, null, null, null, null, null, null, null];\n\nfunction sendErr(status, p) {\n    msg.statusCode = status;\n    msg.payload = p;\n    if (url.indexOf(\"led-alerta\") !== -1) out[1] = msg;\n    else if (url.indexOf(\"led-puerta\") !== -1) out[3] = msg;\n    else if (url.indexOf(\"notifications\") !== -1) out[5] = msg;\n    else if (url.indexOf(\"camera\") !== -1) out[7] = msg;\n}\n\nif (typeof payload !== 'object' || payload === null) {\n    sendErr(400, {error: \"invalid_json\"});\n    return out;\n}\n\nif (url.indexOf(\"/api/actuators/led-alerta\") !== -1) {\n    if (typeof payload.estado !== 'boolean') {\n        sendErr(422, {error: \"missing_field\", field: \"estado\"});\n        return out;\n    }\n    var st = payload.estado ? \"ON\" : \"OFF\";\n    flow.set(\"led_state\", st);\n    flow.set(\"alert_state\", st);\n    out[0] = {payload: st};\n    out[1] = cloneMsg({success: true, topic: \"smarthome/equipo69/control/led\", payload: st});\n    return out;\n}\n\nif (url.indexOf(\"/api/actuators/led-puerta\") !== -1) {\n    if (typeof payload.accion !== 'string' || (payload.accion !== \"ON\" && payload.accion !== \"OFF\")) {\n        sendErr(422, {error: \"missing_field\", field: \"accion\"});\n        return out;\n    }\n    out[2] = {payload: {accion: payload.accion}};\n    out[3] = cloneMsg({success: true, topic: \"smarthome/equipo69/control/led-puerta\"});\n    return out;\n}\n\nif (url.indexOf(\"/api/notifications\") !== -1) {\n    if (typeof payload.mensaje !== 'string' || payload.mensaje.trim() === \"\") {\n        sendErr(422, {error: \"missing_field\", field: \"mensaje\"});\n        return out;\n    }\n    out[4] = {\n        payload: {\n            chatId: -1003906928304,\n            type: \"message\",\n            content: payload.mensaje\n        }\n    };\n    out[5] = cloneMsg({success: true});\n    return out;\n}\n\nif (url.indexOf(\"/api/camera/trigger\") !== -1) {\n    var dur = payload.duracion || 5;\n    if (typeof dur !== 'number' || dur < 1) {\n        sendErr(422, {error: \"missing_field\", field: \"duracion\"});\n        return out;\n    }\n    out[6] = {payload: {accion: \"iniciar_burst\", duracion: dur}};\n    out[7] = cloneMsg({success: true, duracion: dur});\n    return out;\n}\n\nsendErr(400, {error: \"invalid_request\"});\nreturn out;",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "mqtt_out_led"
            ],
            [
                "http_res_led_alerta"
            ],
            [
                "mqtt_out_led_puerta"
            ],
            [
                "http_res_led_puerta"
            ],
            [
                "telegram_out"
            ],
            [
                "http_res_notifications"
            ],
            [
                "mqtt_out_camara_captura"
            ],
            [
                "http_res_camera_trigger"
            ]
        ]
    },
    {
        "id": "func_silence_alerts",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Silence Alerts",
        "func": "flow.set(\"led_state\", \"OFF\");\nflow.set(\"alert_state\", \"OFF\");\n\nreturn [\n    {payload: \"OFF\"},\n    {\n        payload: {success: true, silenced: [\"led_alerta\"]},\n        req: msg.req,\n        res: msg.res,\n        _msgid: msg._msgid\n    }\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "mqtt_out_led"
            ],
            [
                "http_res_silence"
            ]
        ]
    },
    {
        "id": "mqtt_out_led_puerta",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publicar control LED Puerta",
        "topic": "smarthome/equipo69/control/led-puerta",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 720,
        "y": 1080,
        "wires": []
    },
    {
        "id": "mqtt_in_llm_decision",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Suscribir a Decisiones LLM",
        "topic": "smarthome/equipo69/llm/decision",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "func_llm_decision_store"
            ]
        ]
    },
    {
        "id": "func_llm_decision_store",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Store LLM Decision",
        "func": "var decision = msg.payload;\nif (decision && decision.nivel) {\n    flow.set(\"llm_decision\", decision);\n    var colors = {\n        critico: \"#ff3333\", alto: \"#ff9933\",\n        medio: \"#ffcc00\", bajo: \"#33cc33\", info: \"#0094CE\"\n    };\n    var color = colors[decision.nivel] || \"#0094CE\";\n    return [\n        { payload: {\n            nivel: decision.nivel,\n            razonamiento: decision.razonamiento || \"\",\n            accion: decision.accion || \"\",\n            timestamp: decision.timestamp || new Date().toISOString(),\n            color: color\n        }},\n        msg\n    ];\n}\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1300,
        "wires": [
            [
                "ui_llm_decision"
            ],
            [
                "debug_llm_decision"
            ]
        ]
    },
    {
        "id": "ui_llm_decision",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_security",
        "name": "LLM Decision Widget",
        "order": 5,
        "width": 6,
        "height": 3,
        "format": "<div ng-if=\"!msg.payload || !msg.payload.nivel\" style=\"display:flex;align-items:center;justify-content:center;height:100%;color:#999;font-style:italic;\">\n  Sin decisiones LLM\n</div>\n<div ng-if=\"msg.payload && msg.payload.nivel\" style=\"display:flex;flex-direction:column;height:100%;padding:10px;box-sizing:border-box;\">\n  <div style=\"display:flex;align-items:center;margin-bottom:8px;\">\n    <div style=\"width:20px;height:20px;border-radius:50%;background-color:{{msg.payload.color||'#0094CE'}};box-shadow:0 0 8px {{msg.payload.color||'#0094CE'}};margin-right:10px;flex-shrink:0;\"></div>\n    <span style=\"font-weight:bold;font-size:16px;text-transform:uppercase;\">{{msg.payload.nivel}}</span>\n  </div>\n  <div style=\"font-size:13px;margin-bottom:4px;line-height:1.4;\">{{msg.payload.razonamiento || '—'}}</div>\n  <div style=\"font-size:11px;color:#888;margin-top:auto;\">{{msg.payload.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "className": "",
        "x": 660,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_llm_decision",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Decision LLM",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1380,
        "wires": []
    },
    {
        "id": "http_in_llm_decision",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "GET /api/llm-decision",
        "url": "/api/llm-decision",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1420,
        "wires": [
            [
                "func_llm_decision_reader"
            ]
        ]
    },
    {
        "id": "func_llm_decision_reader",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Read LLM Decision",
        "func": "var decision = flow.get(\"llm_decision\");\nif (decision) {\n    msg.statusCode = 200;\n    msg.payload = decision;\n} else {\n    msg.statusCode = 503;\n    msg.payload = { error: \"no_llm_decision_yet\" };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1420,
        "wires": [
            [
                "http_res_llm_decision"
            ]
        ]
    },
    {
        "id": "http_res_llm_decision",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "Response /api/llm-decision",
        "statusCode": "",
        "headers": {
            "Cache-Control": "no-store"
        },
        "x": 900,
        "y": 1420,
        "wires": []
    }
]