deploy/nodered/data/flows.json
[
    {
        "id": "flow_access_control",
        "type": "tab",
        "label": "Access Control Router",
        "disabled": false,
        "info": "Routes MQTT messages for facial access control system"
    },
    {
        "id": "broker_mosquitto",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt_in_presencia",
        "type": "mqtt in",
        "z": "flow_access_control",
        "name": "Presencia sensor",
        "topic": "smarthome/equipoXX/presencia",
        "qos": "1",
        "broker": "broker_mosquitto",
        "x": 100,
        "y": 100,
        "wires": [["change_camara_cmd"]]
    },
    {
        "id": "change_camara_cmd",
        "type": "change",
        "z": "flow_access_control",
        "name": "Build camera command",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"accion\":\"iniciar_burst\",\"duracion\":5}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [["mqtt_out_camara"]]
    },
    {
        "id": "mqtt_out_camara",
        "type": "mqtt out",
        "z": "flow_access_control",
        "name": "Camera burst command",
        "topic": "smarthome/equipoXX/camara/captura",
        "qos": "1",
        "retain": "",
        "broker": "broker_mosquitto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_in_acceso",
        "type": "mqtt in",
        "z": "flow_access_control",
        "name": "Access decision",
        "topic": "smarthome/equipoXX/acceso/estado",
        "qos": "1",
        "broker": "broker_mosquitto",
        "x": 100,
        "y": 200,
        "wires": [["json_acceso"]]
    },
    {
        "id": "json_acceso",
        "type": "json",
        "z": "flow_access_control",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 200,
        "wires": [["switch_estado"]]
    },
    {
        "id": "switch_estado",
        "type": "switch",
        "z": "flow_access_control",
        "name": "permitido / denegado",
        "property": "payload.estado",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "permitido", "vt": "str"},
            {"t": "eq", "v": "denegado", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 200,
        "wires": [
            ["change_led_on"],
            ["change_led_off", "mqtt_out_enrolar"]
        ]
    },
    {
        "id": "change_led_on",
        "type": "change",
        "z": "flow_access_control",
        "name": "LED ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"accion\":\"ON\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [["mqtt_out_led"]]
    },
    {
        "id": "change_led_off",
        "type": "change",
        "z": "flow_access_control",
        "name": "LED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"accion\":\"OFF\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [["mqtt_out_led"]]
    },
    {
        "id": "mqtt_out_led",
        "type": "mqtt out",
        "z": "flow_access_control",
        "name": "Door LED command",
        "topic": "smarthome/equipoXX/control/led_puerta",
        "qos": "1",
        "retain": "",
        "broker": "broker_mosquitto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "mqtt_out_enrolar",
        "type": "mqtt out",
        "z": "flow_access_control",
        "name": "Enrollment notification",
        "topic": "smarthome/equipoXX/acceso/enrolar",
        "qos": "1",
        "retain": "",
        "broker": "broker_mosquitto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_in_url",
        "type": "mqtt in",
        "z": "flow_access_control",
        "name": "Camera URL",
        "topic": "smarthome/equipoXX/camara/url",
        "qos": "1",
        "broker": "broker_mosquitto",
        "x": 100,
        "y": 400,
        "wires": [["mqtt_out_url"]]
    },
    {
        "id": "mqtt_out_url",
        "type": "mqtt out",
        "z": "flow_access_control",
        "name": "Forward camera URL",
        "topic": "smarthome/equipoXX/camara/url",
        "qos": "1",
        "retain": "",
        "broker": "broker_mosquitto",
        "x": 300,
        "y": 400,
        "wires": []
    }
]
